a, a:link
  cursor pointer

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

// footer
//   padding-bottom: 30px

.content
  min-height: 500px

header
  .main-menu
    ul
      li.dropdown-header
        background #444
      li.taller
        height 60px
        a
          line-height:1em;
