- var scripts = getBlock('scripts')
-   var styles = getBlock('styles')

//- Prettify Syntax Highlighting
- scripts.add(["/vendor/prettify.js"])
- styles.add(["/vendor/prettify.css"])

//- jQuery
- scripts.add(["/vendor/jquery.js"])

//- Bootstrap
- scripts.add(["/vendor/twitter-bootstrap/js/bootstrap.js"])
- styles.add(["/vendor/twitter-bootstrap/css/bootstrap.css","/vendor/twitter-bootstrap/css/bootstrap-responsive.css"])

//- Other Scripts
- scripts.add(["/vendor/log.js","/vendor/modernizr.js"])

//- User
- styles.add(["/styles/style.css"])
- scripts.add(["/scripts/script.js"])

doctype html
html
  head
    //
       Define Charset
    meta(charset='utf-8')
    //
       Page Title
    title Salt Factory Sports
    //       Responsive Metatag
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //       CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='rs-plugin/css/settings.css', media='screen')
    link(href='/css/styles.css', rel='stylesheet')
    link(href='/styles/style.css', rel='stylesheet')
    link(href='/css/color/cyan.css', rel='stylesheet')
    link(href='/css/media-queries.css', rel='stylesheet')
    //       HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //       Media queries
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
  body
    | <div id="fb-root"></div>
    |<script>(function(d, s, id) {
    |  var js, fjs = d.getElementsByTagName(s)[0];
    |  if (d.getElementById(id)) return;
    |  js = d.createElement(s); js.id = id;
    |  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
    |  fjs.parentNode.insertBefore(js, fjs);
    |}(document, 'script', 'facebook-jssdk'));</script>
    header
      .top-bar
        .container
          .row
      .main-menu
        .main-menu-line
          .container
            .row
              nav.navbar(role='navigation')
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  h1.logo
                    a.navbar-brand(href='/')
                      img(src='/img/logo-big.png', alt='Logo' width="150")
                .collapse.navbar-collapse.navbar-ex1-collapse
                  ul.nav.navbar-nav.navbar-right
                    li.active
                      a(href='/') Home
                    li.dropdown
                      a.dropdown-toggle About
                      ul
                        li
                          a(href="/pages/about") About Us
                        li
                          a(href='/pages/about/staff') Our Staff
                        li
                          a(href='/pages/about/board') Our Board
                        li
                          a(href='/pages/about/partners') Our Partners
                        li
                          a(href='/pages/about/faith-statement') Our Faith Statement
                    li.dropdown
                      a.dropdown-toggle What we do
                      ul
                        li
                          a(href="/pages/church-community") Church Partnerships
                        //- li
                        //-   a(href='/pages/schools/primary') Primary Schools
                        //- li
                        //-   a(href='/pages/schools/post-primary') Post-Primary Schools
                        //- li
                        //-   a(href='/pages/communities') Community
                        li
                          a(href="/pages/camps-missions") Community Missions
                        //- li
                        //-     a(href='/pages/overseas/Kenya') Kenya 2014
                        //- li.taller
                        //-     a(href='/pages/overseas/England') Northern Ireland &amp; Scotland 2014
                        //- li
                        //-     a(href='/pages/overseas/Kenya') Kenya 2014 (January)
                        //- li
                        //-     a(href='/pages/overseas/England') England 2014
                        //- li
                        //-     a(href='/pages/overseas/Kenya') Kenya 2013
                        //- li
                        //-     a(href='/pages/overseas/Kenya') Kenya 2012
                        li
                          a(href='/pages/professional-sports') Team Sport Missions
                    li(style="background-color:limegreen;")
                      a(href='/pages/internships') Join Us
                    li(style="background-color:#C7C752;")

                        a(href='/pages/donate') Donate
                    li
                        a(href='/pages/contact') Contact

    section#content.content!= content
    footer
      .container
        .row.misc
          .col-md-3
            h3 Salt Factory Sports
            p
            ul.about
              li
                i.entypo-location
                | Lisburn UK
              //-li
                i.entypo-mobile
                |
              li
                i.entypo-mail
                a(href="/pages/contact") Contact Us
              li
                label HMRC Charity Number
                span &nbsp;NI00123
              li
                label Company Number
                span &nbsp;NI611652
          .col-md-3
            h3 Get Social
            p Follow us on facebook and twitter to keep up with what we're doing
            ul.social
              li(style="margin-right:10px")
                a(href='https://www.facebook.com/saltfactorysports')
                  i.entypo-facebook
              li(style="margin-right:10px")
                a(href='https://www.twitter.com/saltfactorysports')
                  i.entypo-twitter
              li(style="margin-right:10px")
                a(href='https://www.instagram.com/saltfactorysports')
                  i.entypo-instagrem
      .copyright
        .container
          p.pull-left
            | © All rights reserved. Salt Factory Sports.
            | This website was last updated at #{site.date}
    //       End footer
    a.scrollup(href='#')
      i.entypo-up-open
    //       Javascript Files
    //       jQuery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', type='text/javascript')
    script
      window.jQuery || document.write("<script src=\\"js/jquery-1.9.1.min.js\" type=\"text/javascript\"><\/script>")
    //       Respond.j media queries for IE8
    script(src='/js/respond.min.js')
    //       Bootstrap
    script(src='/js/bootstrap.min.js', type='text/javascript')
    //       Easing
    script(type='text/javascript', src='/js/jquery.easing.min.js')
    //       Placeholder.js http://widgetulous.com/placeholderjs/
    script(type='text/javascript', src='/js/placeholder.js')
    //       Retina.js
    script(type='text/javascript', src='/js/retina.js')
    //       jQuery REVOLUTION Slider
    script(type='text/javascript', src='rs-plugin/pluginsources/jquery.themepunch.plugins.min.js')
    script(type='text/javascript', src='rs-plugin/js/jquery.themepunch.revolution.min.js')
    //       Custom site js
    script(src='/js/script.js', type='text/javascript')

