 //
       Content 

         Table 
      article.article-container
        .container
          .row
            .col-xs-12
              h2.headers List of classes in the timeline
              span.line
                span.sub-line
          .row
            .col-xs-12
              .table-responsive
                table.table.table-hover.table-bordered
                  thead
                    tr
                      th TIME
                      th MONDAY
                      th TUESDAY
                      th WEDNESDAY
                      th THURSDAY
                      th FRIDAY
                      th SATURDAY
                      th SUNDAY
                  tbody
                    tr
                      td 06.00 - 07.00
                      td.success
                        a(href='') Boxing
                      td.success
                        a(href='') Boxing
                      td  
                      td  
                      td  
                      td  
                      td  
                    tr
                      td 07.00 - 08.00
                      td.success
                        a(href='') Archbold Gym
                      td.success
                        a(href='') Archbold Gym
                      td.warning(rowspan='2')
                        a(href='')
                          | Volleyball
                          br
                          | Match
                      td.success
                        a(href='') Volleyball
                      td.success
                        a(href='') Volleyball
                      td  
                      td  
                    tr
                      td 08.00 - 09.00
                      td.success
                        a(href='') Cardio Fitness
                      td.success
                        a(href='') Cardio Fitness
                      td  
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                    tr
                      td 09.00 - 10.00
                      td  
                      td  
                      td.success
                        a(href='') Cardio Fitness
                      td  
                      td  
                      td  
                      td  
                    tr
                      td 10.00 - 11.00
                      td.success
                        a(href='') Table-Tennis
                      td.success
                        a(href='') Table-Tennis
                      td.success
                        a(href='') Volleyball
                      td.success
                        a(href='') Volleyball
                      td.success
                        a(href='') Volleyball
                      td.success
                        a(href='') Volleyball
                      td.success
                        a(href='') Volleyball
                    tr
                      td 11.00 - 12.00
                      td.success
                        a(href='') Gym Training
                      td.success
                        a(href='') Gym Training
                      td.success
                        a(href='') Gym Training
                      td  
                      td  
                      td  
                      td  
                    tr
                      td 13.00 - 15.00
                      td.danger Close
                      td.danger Close
                      td.danger Close
                      td.danger Close
                      td.danger Close
                      td.danger Close
                      td.danger Close
                    tr
                      td 14.00 - 15.00
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td  
                      td.warning(rowspan='2')
                        a(href='')
                          | Volleyball
                          br
                          | Match
                      td  
                      td  
                    tr
                      td 15.00 - 16.00
                      td  
                      td  
                      td.success
                        a(href='') Gym Fitness
                      td.success
                        a(href='') Gym Fitness
                      td  
                      td  
                    tr
                      td 16.00 - 17.00
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td  
                      td  
                      td.success
                        a(href='') Racquetball
                      td  
                    tr
                      td 17.00 - 18.00
                      td  
                      td  
                      td  
                      td  
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                      td.success
                        a(href='') Flanagym Gym
                    tr
                      td 19.00 - 20.00
                      td.success
                        a(href='') Indoor running 
                      td.success
                        a(href='') Indoor running 
                      td.danger Close
                      td.success
                        a(href='') Indoor running 
                      td.danger Close
                      td.danger Close
                      td.danger Close
      //
         end Table 
      //
         begin Bodybuilding Supplements 
      article.article-container
        .container
          //
             arrows 
          .row
            .col-md-12
              h2.headers Supportors and Sponsors
              span.line
                span.sub-line
              p Contact Us to get your name here
              a.slider-control.pull-right.next(href='#bodybuilding', data-slide='next')
              a.slider-control.pull-right.prev(href='#bodybuilding', data-slide='prev')
          //
             end arrows 
          .row
            #bodybuilding.carousel.slide
              //
                 Wrapper for slides 
              .carousel-inner
                .item.active
                  ul.logos
                    li
                      a(href='#')
                        img(src='/img/logos/1.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/2.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/3.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/4.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/5.png', alt='//')
                .item
                  ul.logos
                    li
                      a(href='#')
                        img(src='/img/logos/5.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/1.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/2.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/3.png', alt='//')
                    li
                      a(href='#')
                        img(src='/img/logos/4.png', alt='//')
      //
         end Bodybuilding Supplements 
    //
       end content 